{% extends 'lab/common.html' %}
{% block header %}
{% load static %}


<section class="patient-area section-padding">
    <div class="container">
        <!-- <center> <h1><b> Add Doctors</b></h1><br></center> -->
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-lg-5 offset-lg-1 align-self-center">
                <div class="appointment-form text-center mt-5 mt-lg-0">
                    <h3 class="mb-5">Change Password</h3>
                    <form method="post">
                        <!-- <div class="form-group">
                            <input type="text" placeholder="Your Name" name="name" pattern="[a-z A-Z]+"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'" required>
                        </div> -->
                        <div class="form-group">
                            <input type="text" placeholder="Your Email" name="email" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Your Email'" required>
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Your Mobile Number" name="oldpassword"  onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Your Email'" required>
                        </div>
                        <div class="form-group">
                            <input type="password" id="" placeholder="Specification" name="newpassword"
                                onfocus="this.placeholder = ''" required>
                        </div>
                        <div class="form-group">
                            <input type="password" id="" placeholder="Qualification" name="cpassword"
                                onfocus="this.placeholder = ''" required>
                        </div>
                        <!-- <div class="form-group">
                            <input type="text" id="" placeholder="Enter Moblie Number" name="phoneno"
                                onfocus="this.placeholder = ''"  required>
                        </div> -->
                        <!-- <div class="form-group">
                            <textarea name="message" cols="20" rows="7"  placeholder="Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'" required></textarea>
                        </div> -->
                        <input type="submit" class="template-btn" value="Change Now">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% if msg %}
<script>alert('{{msg}}');</script>
{% endif %}

{% endblock %}